body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(248, 226, 230);
}

h1{
    font-weight: 600;
    margin-bottom: 0px;
}

header{
    display: flex;
    justify-content:space-between
}

.btn-container{
    display: flex;
    align-items: center;
}

.primary-btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.section-title{
    font-weight: 470;
    text-decoration:underline;
}

.contact-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-container{
    background-color: white;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#subheader{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5px;
}

a:hover {
    background-color: rgb(101, 98, 98);
    color: white;
    font-size: 110%;
}

footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}